  {{ template "_internal/google_analytics_async.html" . }}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script>
  hljs.highlightAll();
</script>

<!-- Support plantuml -->
<script src="https://cdn.jsdelivr.net/gh/jmnote/plantuml-encoder@1.2.4/dist/plantuml-encoder.min.js" integrity="sha256-Qsk2KRBCN5qVZX7B+8+2IvQl1Aqc723qV1tBCQaVoqo=" crossorigin="anonymous"></script>
<script>
  (function(){
    let plantumlPrefix = "language-plantuml";
    Array.prototype.forEach.call(document.querySelectorAll("[class^=" + plantumlPrefix + "]"), function(code){
      let image = document.createElement("IMG");
      image.loading = 'lazy'; // Lazy loading
      image.src = 'http://www.plantuml.com/plantuml/svg/~1' + plantumlEncoder.encode(code.innerText);
      code.parentNode.insertBefore(image, code);
      code.style.display = 'none';
    });
  })();
  </script>
</html>
